body {
    height: 100%;
    width: 100%;
    background: linear-gradient(#091734, rgb(13 21 36), rgb(15 16 20));
    direction: rtl;
    font-family: "Noto Sans Hebrew", "Inter", sans-serif;

    --primary: #e1e6f0;
    --secondary: rgb(143, 152, 178);
    --link: rgb(53, 134, 240);
}

h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: var(--primary);
    margin: 0;

    display: flex;
    justify-content: center;
}

h2 {
    font-size: 17px;
    color: var(--secondary);
    letter-spacing: -0.4px;

    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 100vh;
}

.disney-plus-logo {
    width: 50px;
    height: 30px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.form-container {
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
}

.page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    background: transparent;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    font-family: "Noto Sans Hebrew", "Inter", sans-serif;
    justify-content: center;
    border-radius: 7px;
    height: 50px;
    width: 220px;

    &:focus {
        background: transparent;
        color: var(--secondary);
        border: 1px solid var(--secondary);
    }
}

.login-btn {
    width: 220px;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(8 87 225), rgb(6 43 154));
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;

    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 1em;

    &:hover {
        /* width: 230px; */

    }
}

.divider {
    /* border-bottom: 1px solid var(--secondary); */
    border-bottom: 1px solid var(--secondary);
    width: 250px;
    opacity: 0.2;
}

.form-footer-title {
    font-size: 14px;
    color: var(--secondary);
    padding-top: 0.3em;
}

.link {
    font-weight: 600;
    color: var(--link);
    cursor: pointer;
}

.form-footer {
    display: flex;
    padding-top: 0.5em;
    gap: 0.5em;
}

.options-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
}

.page-footer {
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
}

.sub-header {
    color: var(--primary);
}

.sub-option {
    color: var(--secondary);
    cursor: pointer;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.invalid-feedback {
    text-align: right;
}

.form-submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.was-validated {
    margin-bottom: 0px;
}

.modal-content {
    direction: rtl;       
    text-align: center;   
}

.modal-header {
    justify-content: center; 
    border-bottom: none;    
}

.modal-header .close {
    display: none;
}

.modal-body {
    text-align: center; 
}

.modal-footer {
    justify-content: center; 
    border-top: none;        
}

