<html>

<head>
    <title>Disney</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+Hebrew:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="./login.css" rel="stylesheet">
    <!-- <script src="./login.js"></script> -->
</head>

<body class="page-container">
    <img src="../../assets/disney-plus-logo.webp" class="disney-plus-logo" />
    <div class="page-wrapper">
        <div class="login-wrapper">
            <div class="header">
                <h1>התחברו כדי להמשיך</h1>
                <h2>הזינו מייל וסיסמה להתחברות</h2>
            </div>

            <form class="form-container" novalidate id="login-form">
                <div class="form-group row">
                    <div>
                        <input type="email" class="form-control input"
                         placeholder="הכנס מייל" required>
                         <div class="invalid-feedback">אנא הזן כתובת אימייל תקינה.</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div>
                        <input type="password" class="form-control input" 
                        required minlength="6"
                        placeholder="הכנס סיסמה">
                        <div class="invalid-feedback">הסיסמה חייבת להכיל לפחות 6 תווים.</div>
                    </div>
                </div>
                <div class="form-submit-container">
                    <button type="submit" class="btn login-btn">התחבר</button>
                    <span class="divider"></span>
                    <div class="form-footer">
                        <span class="form-footer-title">מתקשים להתחבר?</span>
                        <span class="form-footer-title link">קבלו עזרה</span>
                    </div>
                </div>
            </form>

        </div>
        
    </div>

                <div class="page-footer">
                <div class="options-list">
                    <span class="sub-header">חברה</span>
                    <span class="sub-option">מכשירים נתמכים</span>
                </div>

                <div class="options-list">
                    <span class="sub-header">צפיה באתר ב-</span>
                    <span class="sub-option">English</span>
                    <span class="sub-option">עברית</span>
                    
                </div>

                <div class="options-list">
                    <span class="sub-header">זקוקים לעזרה</span>
                    <span class="sub-option">תמיכה</span>
                    <span class="sub-option">משוב</span>
                </div>

                <div class="options-list">
                    <span class="sub-header">צרו איתנו קשר</span>
                </div>
            </div>

    <script src="./login.js"></script>
</body>

</html>