body {
    height: 100%;
    width: 100%;
    background: linear-gradient(#091734, rgb(13 21 36), rgb(15 16 20));
    direction: rtl;

    --primary: #e1e6f0;
    --secondary: rgb(143, 152, 178);
    --link: rgb(53, 134, 240);

    display: flex;
    justify-content: center;
    padding: 1em;
}

/* .input {
    background: transparent;
    color: rgb(143 152 178 / 55%);
    border: 1px solid rgb(143 152 178 / 55%);
    justify-content: center;
    border-radius: 7px;
    height: 50px;
    /* width: 220px; */

    width: 100%;

    &:focus {
        background: transparent;
        color: var(--secondary);
        border: 1px solid var(--secondary);
    }
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    width: 600px;
    height: 500px;
    /* border: 1px solid var(--secondery); */
    box-shadow: 0px 0px 5px 1px var(--secondary);
        border-radius: 5px;

    padding: 2em;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: -0.8px;
    color: var(--primary);
    margin: 0;

    display: flex;
}

.col {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

input[type="file"] {
    color: var(--secondary) !important;
    font-size: 14px !important;
    display: flex !important;
    width: 180px !important;
}

.add-media {
    width: 100%;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(8 87 225), rgb(6 43 154));
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 1em;
    border: none;
} */