body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#091734, rgb(13 21 36), rgb(15 16 20));
    direction: rtl;

    --primary: #e1e6f0;
    --secondary: rgb(143, 152, 178);
    --link: rgb(53, 134, 240);

    display: flex;
    justify-content: center;
    padding: 1em;
}

h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: var(--primary);
    margin: 0;

    display: flex;
    justify-content: center;
}

.container {
    padding: 2em;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 3px var(--secondary);
    width: 600px;
    height: 500px;
    overflow: auto;

}

input::placeholder {
    color: rgb(143 152 178 / 55%) !important;
}

label {
    font-size: 16px !important;
    /* font-weight: 600; */
    letter-spacing: -0.8px;
    color: var(--secondary);
    margin: 0;

    display: flex;
}

input,
select,
textarea {
    background: transparent !important;
    color: var(--secondary) !important;
    border: 1px solid rgb(143 152 178 / 55%) !important;
    justify-content: center !important;
    border-radius: 7px !important;
    height: 50px !important;
    width: 220px;

    width: 100%;

    &:hover {
        background: transparent !important;
        border: 1px solid var(--secondary) !important;
        transform: translateY(-2px);
    }

    &:focus {
        background: transparent;
        color: var(--secondary);
        border: 1px solid var(--secondary);
    }
}

li {
    display: flex;
    line-height: 40px;
    align-items: center;
    gap: 1em;
}

.btn-genres {
    background: transparent;
    border: 1px solid rgb(143 152 178 / 55%);
    height: 50px;

    &:hover {
        background: transparent;
        border: 1px solid var(--secondary);
    }
}

/* form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    width: 600px;
    height: 500px;
    border: 1px solid var(--secondery);
    box-shadow: 0px 0px 5px 1px var(--secondary);
        border-radius: 5px;

    padding: 2em;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: -0.8px;
    color: var(--primary);
    margin: 0;

    display: flex;
}

.col {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

input[type="file"] {
    color: var(--secondary) !important;
    font-size: 14px !important;
    display: flex !important;
    width: 180px !important;
}
*/
.add-media {
    width: 100%;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(8 87 225), rgb(6 43 154));
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 1em;
    border: none;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.add-actor-btn {
    border-radius: 4px !important;
    background: rgb(8 87 225);
    border: none !important;
    font-size: 14px;
    padding: 0 1em;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: rgb(6 43 154);
        transform: translateY(-2px);
    }
}

input[type="file"] {
    color: var(--secondary) !important;
    font-size: 14px !important;
    display: flex !important;
    border: none !important;
    border-radius: 0 !important;
}

input[type="checkbox"]:checked {
    background-color: rgb(8 87 225) !important;
}

.list-group {
    display: flex;
    gap: 0.5em;

    li {
        width: fit-content;
        font-size: 14px;
        line-height: 20px;
        /* border-radius: 40px; */
        background: transparent;
        color: var(--primary);
        font-weight: 500;
        border: none;
    }
}

.actor-item {
    width: fit-content;
    font-size: 14px;
    line-height: 20px;
    /* border-radius: 40px; */
    background: transparent;
    color: var(--primary);
    font-weight: 500;
    border: none;
}

.btn-delete {
    font-size: 23px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    &:hover,
    &:focus {
        color: rgb(255, 80, 80);
        transform: translateY(-2px);
        background-color: transparent;
        border: none;
    }
}