<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>Disney Plus - Add Media</title>
    <link rel="icon" type="image/png" href="/client/assets/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="client/components/add-media/add-media.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div>
            <div class="header-wrapper">
                <span class="mb-4 text-center disney-gold"> הוספת תוכן חדש</span>
                <img src="client/assets/disney-plus-logo.webp" id="disney-logo-btn" class="disney-plus-logo mb-4" />
            </div>

            <hr class="soft-divider" />
        </div>

        <form id="contentForm" novalidate class="row g-3">

            <div class="col-md-6">
                <label class="form-label">שם</label>
                <input type="text" id="name" class="form-control" required>
                <div class="invalid-feedback">השדה לא תקין</div>
            </div>

            <div class="col-md-6">
                <label class="form-label">סוג</label>
                <select id="type" class="form-select" required>
                    <option value="movie">סרט</option>
                    <option value="series">סדרה</option>
                </select>
            </div>

            <div class="col-md-4">
                <label class="form-label">שנת הפצה</label>
                <input type="number" id="year" class="form-control" required min="1900" max="2025" value="2025">
            </div>

            <div class="col-8">
                <label class="form-label">ז׳אנרים</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle w-100 btn-genres" type="button" id="genresDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        בחר ז׳אנרים
                    </button>
                    <div class="invalid-feedback">נא לבחור לפחות ז'אנר אחד</div>
                    <ul class="dropdown-menu w-100 p-2">
                        <li><input class="form-check-input me-2" type="checkbox" value="Action">אקשן</li>
                        <li><input class="form-check-input me-2" type="checkbox" value="Comedy">קומדיה</li>
                        <li><input class="form-check-input me-2" type="checkbox" value="Animation">אנימציה</li>
                        <li><input class="form-check-input me-2" type="checkbox" value="Horror">אימה</li>
                        <li><input class="form-check-input me-2" type="checkbox" value="SciFi">מדע בדיוני</li>
                        <li><input class="form-check-input me-2" type="checkbox" value="Romance">רומנטיקה</li>
                        <li><input class="form-check-input me-2" type="checkbox" value="Crime">פשע</li>
                        <li><input class="form-check-input me-2" type="checkbox" value="Documentary">דוקומנטרי</li>
                    </ul>
                </div>
            </div>

            <div class="col-12">
                <label class="form-label">תיאור</label>
                <textarea id="description" class="form-control" rows="3" required></textarea>
                <div class="invalid-feedback">השדה לא תקין</div>
            </div>

            <div class="col-md-4">
                <label class="form-label">במאי</label>
                <input type="text" id="directorName" class="form-control" required>
                <div class="invalid-feedback">השדה לא תקין</div>
            </div>

            <div class="col-md-4">
                <label class="form-label">ויקיפדיה של הבמאי</label>
                <input type="text" id="directorWiki" class="form-control" required
                    placeholder="https://en.wikipedia.org/wiki/Christopher_Nolan">
                <div class="invalid-feedback">השדה לא תקין</div>
            </div>

            <div class="col-12">
                <label class="form-label">שחקנים</label>
                <div class="input-group mb-2">
                    <input type="text" id="actorName" class="form-control" required placeholder="שם השחקן">
                    <input type="text" id="actorWiki" class="form-control" required placeholder="קישור לויקיפדיה">
                    <button type="button" class="btn add-actor-btn btn-secondary" id="addActor">
                        <i class="bi bi-plus add-icon"></i>
                        הוסף
                    </button>
                </div>
                <ul id="castList" class="list-group"></ul>
            </div>

            <div class="col-md-6">
                <label class="form-label">בחר.י תמונה</label>
                <input type="file" id="photoFile" class="form-control" required accept="image/*">
                <div class="invalid-feedback">שדה חובה</div>
            </div>

            <div class="col-md-6" id="movie">
                <label class="form-label">בחר.י וידאו (MP4)</label>
                <input type="file" id="videoFile" class="form-control" accept="video/mp4">
                <div class="invalid-feedback">שדה חובה</div>
            </div>

            <div class="col-md-12 episode-container">
                <div id="episodesSection" style="display:none;" class="episodes-wrapper">
                    <label>הוספת פרקים</label>
                    <div class="episode-row">
                        <div class="episode-row-inputs">
                            <div class="col-md-1"">
                                <label>עונה</label>
                                <input type=" number" id="seasonNumber" class="form-control" />
                        </div>
                        <div class="col-md-1">
                            <label>פרק</label>
                            <input type="number" id="episodeNumber" class="form-control" />
                        </div>
                        <div class="col-md-4"">
                                <label>תיאור קצר</label>
                                <input type=" text" id="shortDescription" class="form-control" />
                    </div>
                    <div class="col-md-2"">
                                <label>וידאו</label>
                                <input type=" file" id="episodeVideo" class="form-control episode-video" />
                </div>
            </div>
            <div class="episode-row add-episode-wrapper">
                <button type="button" style="width: 90px;" class="btn btn-primary add-actor-btn" id="addEpisode">הוסף
                    פרק</button>
            </div>
    </div>
    </div>
    <ul id="episodesList" class="list-group mt-2"></ul>
    </div>

    <div class="col-12 text-center add-content-btn-wrapper">
        <button type="submit" id="buildJSON" class="add-media">הוספת תוכן</button>
    </div>
    </form>

    </div>
    <div class="modal fade" id="successModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content disney-modal">
                <div class="modal-header border-0">
                    <h5 class="modal-title">הוספת תוכן התבצעה בהצלחה</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    התוכן נוסף בהצלחה וזמין לצפייה!
                </div>
                <div class="modal-footer border-0 justify-content-between">
                    <button type="button" class="btn btn-outline-light btn-add" data-bs-dismiss="modal"
                        id="addAnotherContent">הוספת תוכן נוסף</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="toMediaContent">צפייה
                        בתוכן</button>
                </div>
            </div>
        </div>
    </div>
    <script src="client/components/add-media/add-media.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>