body {
  background: linear-gradient(to bottom, #0f1014, #191b26);
  color: #fff;
  font-family: "Noto Sans Hebrew", sans-serif;
  padding: 1em;
}

h1 {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 2rem;
}

.filter-bar {
  text-align: center;
}

.filter-btn {
  border-radius: 0px;
  transition: all 0.3s;
}

.filter-btn:hover {
  transform: scale(1.05);
}

.series-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5em;
  margin-top: 2em;
}

.card {
  background-color: #1c1e2a;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255,255,255,0.2);
}

.card-img-top {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card-body {
  text-align: center;
  padding: 0.8em;
}

.form-select-dark {
  background-color: #1b1c1f;
  color: #e1e6f0;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 0.5em 1em;
  transition: all 0.2s ease;
}

.form-select-dark:focus {
  border-color: #3a86ff;
  box-shadow: 0 0 0 0.2rem rgba(58, 134, 255, 0.3);
  background-color: #25262a;
  color: #fff;
}
