<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
  <meta charset="utf-8" />
  <title>Disney Plus - Search</title>
  <link rel="icon" type="image/png" href="/client/assets/favicon.png">
  <link href="client/components/search-media/search-media.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script defer src="client/components/search-media/search-media.js"></script>
</head>

<body class="container">
  <div class="input-container">
    <div class="input-group input-group-lg search-wrapper" dir="rtl">
      <div class="prepend input-group-text">
        <i class="bi bi-search search-icon"></i>
      </div>
      <input type="text" id="search" class="form-control" dir="rtl" placeholder="סרטים, תוכניות ועוד"
        aria-label="Large">
    </div>
    <button id="btnSort" class="btn btn-outline-light btn-sort" type="button">מיין א-ת</button>
  </div>

  <div class="d-flex align-items-center mb-3 sub-header-container">
    <a id="btnFeed" class="btn btn-primary btn-sm ml-2 btn-watch" aria-disabled="true" tabindex="-1">בחזרה לפיד</a>
    <a class="btn btn-outline-secondary btn-sm" href="profiles">בחר פרופיל</a>
    <span id="greet" class="ml-3"></span>
  </div>
  <div id="content" class="media-content"></div>

  <div id="fx-layer" style="position:fixed; inset:0; z-index:9999; pointer-events:none;"></div>
</body>

</html>