:host {
    --profile-width: 120px;
}

body {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(#091734, rgb(13 21 36), rgb(15 16 20)); */
    /* background-color: #0f1014; */
    direction: rtl;
    font-family: "Noto Sans Hebrew", "Inter", sans-serif;
    padding: 1em;

    --primary: #e1e6f0;
    --secondary: rgb(143, 152, 178);
    --link: rgb(53, 134, 240);
    --light: rgba(59, 130, 246, .5)
}

h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: var(--primary);
    margin: 0;

    display: flex;
    justify-content: center;
}

.profiles-container {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(var(--profile-width), 1fr));
    gap: 1em;
    /* padding: 0 4em; */
}

.profile-img {
    /* width: 120px; */
    /* width: 85px; */
    width: var(--profile-width);

    cursor: pointer;

    &:hover {
        border: 2px white solid;
        /* border-radius: 60px; */
        border-radius: 50%;
    }
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;

    &:hover {
        transform: translateY(-5px);
    }
}

.input {
    background-color: transparent;
    border: none;
    color: var(--secondary);
    text-align: center;

    &:focus {
        background: transparent;
        box-shadow: none;
    }
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.add-tab {
    background-color: #252833;
    height: var(--profile-width);
    width: var(--profile-width);
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: anchor-center;

    &:hover {
        transform: translateY(-5px);
    }
}

.add-icon {
    font-size: 50px;
    color: white;
}

.add-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
    color: var(--secondary);
}