<html>

<head>
    <title>Disney</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="client/components/profiles/profiles.css" rel="stylesheet">
    <script defer src="client/components/profiles/profiles.js"></script>
    <!-- <script src="/client/router.js"></script> -->
    <!-- <script src="/client/app.js"></script> -->

</head>

<body>
    <div class="page-container">
        <div class="profiles-container" id="profiles-container">
        <!-- <div class="header">
            <h1>מי צופה?</h1>
        </div> -->
        <!-- <div class="profiles-container">
            <div class="profile">
                <img class="profile-img" src="client/assets/mini.png">
                <input type="text" class="form-control input" value="הדר">
            </div>
            <div class="profile">
                <img class="profile-img" src="client/assets/et.png">
                <input type="text" class="form-control input" value="אספי">
            </div>
            <div class="profile">
                <img class="profile-img" src="client/assets/moana.png">
                <input type="text" class="form-control input" value="הדס">
            </div>
            <div class="profile">
                <img class="profile-img" src="client/assets/spider.png">
                <input type="text" class="form-control input" value="ג'וני">
            </div>
            <div class="profile">
                <img class="profile-img" src="client/assets/panter.png">
                <input type="text" class="form-control input" value="רון">
            </div>
            <div class="profile">
                <img class="profile-img" src="client/assets/buz.png">
                <input type="text" class="form-control input" value="דריה">
            </div>
            <div class="add-container">
                <div class="add-tab">
                    <i class="bi bi-plus add-icon"></i>
                </div>
                <span>הוספה</span>
            </div>
            
        </div> -->
    </div>
</body>

</html>