:host {
    font-family: "Noto Sans Hebrew", "Inter", sans-serif !important;
    letter-spacing: -0.4px !important;

    --primary: #e1e6f0 !important;
    --secondary: rgb(143, 152, 178) !important;

}

nav {
    display: flex;
    gap: 1em;
    direction: rtl;
    justify-content: flex-start !important;
    /* background: linear-gradient(#091734, rgb(13 21 36), rgb(15 16 20)); */

    background: inherit;

    .navbar-nav {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        gap: 2em;
        padding-right: 1em !important;

    }

    .navbar-brand {
        margin-right: 0px !important;
    }
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-family: "Noto Sans Hebrew", "Inter", sans-serif;
    letter-spacing: -0.4px;
    color: var(--secondary) !important;
    cursor: pointer;
    flex-direction: row;

    &:hover {
        color: #e1e6f0 !important;
        font-weight: 600;
    }
}

.disney-plus-logo {
    width: 50px;
    height: 30px;
}

.menu {
    position: absolute !important;
    background-color: whitesmoke !important;
}

.item{
    text-align: right !important;
}

.logout-btn{
    background-color: rgb(35 38 48) !important;
    border-radius: 5px !important;
    padding: 0.5em 1em !important;
}

.plus-icon {
    /* display: inline-block; */
    transition: transform 0.5s ease-in-out; /* מהירות הסיבוב */
}

.plus-icon:hover {
    transform: rotate(360deg);
}

.disney-gold {
    width: fit-content;
    font-weight: bold;
    background: linear-gradient(45deg, #FFD700, #FFA500, #FFF8DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.8px;
    color: var(--primary);
    margin: 0;
    display: flex;
}

.left-side-wrapper{
    display: flex;
    align-items: center;
    gap: 1em;
}

.add-media-btn{
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}