body {
    background-color: #0f1014 !important;
    display: flex;
    flex-direction: column;
    padding: 1em;
    letter-spacing: -0.4px;
    font-family: "Noto-Sans-Hebrew-Fonts", "Inter", sans-serif !important;



    --primary: #e1e6f0;
    --secondary: rgb(143, 152, 178);
    --link: rgb(53, 134, 240);
}

h1 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -0.8px !important;
    color: var(--primary);
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

h2 {
    font-size: 22px !important;
    font-weight: 600 !important;
    letter-spacing: -0.4px !important;
    color: var(--secondary) !important;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

h3 {
    font-size: 18px !important;
    font-weight: 500;
    letter-spacing: -0.4px !important;
    color: var(--secondary) !important;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


.poster {
    height: 400px;
    align-self: center;
    border: 5px solid rgb(255 255 255 / 11%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.content-details {
    color: var(--primary);
    text-align: center;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;

    height: 100%;
    justify-content: space-between;
}

.content-container {
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: space-between;
}

info-bar {
    display: flex;
}

.watch-btn {
    width: 352px !important;
    border-radius: 7px !important;
    background: linear-gradient(to right, rgb(8 87 225), rgb(6 43 154)) !important;
    color: rgb(255, 255, 255) !important;
    font-size: 14px !important;
    font-weight: 600 !important;

    display: flex !important;
    height: 52px !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 15px !important;
    margin-bottom: 1em !important;
}

.like-btn {
    height: 52px !important;
    width: 52px !important;
    border-radius: 7px !important;
    background-color: rgb(34 36 38) !important;
    color: var(--secondary) !important;
    font-size: 14px !important;
    font-weight: 600 !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 20px !important;
}

.action-buttons {
    display: flex;
    gap: 1em;
}

.action-buttons>* {
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
}

.media-nav {
    padding: 2em 0 1.5em 0;
    display: flex;
    gap: 2em;
    border-bottom: 1px solid rgb(143 152 178 / 57%);
    margin-bottom: 1em;
}

.extra-content-container {
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.clickable {
    cursor: pointer;
}

.episode-list {
    display: flex;
    flex-direction: column;
    direction: rtl;
    color: var(--secondary);
    align-items: flex-start;
    gap: 1.5em;
}

.episode {
    display: flex;
    gap: 1em;
    align-items: center;

}

.episode-img {
    height: 120px;
    border-radius: 5px;
}

.episode-info {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: flex-start;

    h2 {
        font-weight: 500;
    }
}

.navbar-container {
    display: flex;
    align-items: center;
    flex-direction: row;


    .navbar-nav {
        padding: 1em 0;
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .nav-item {
        cursor: pointer;
    }
}

.similar-list{
    display: flex;
    gap: 1em;
}

.similar-header{
    font-size: 20px;
}

.similar-content{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.5em;
}

.similar-img{
    height: 200px;
    border-radius: 5px;
}