body {
    background-color: #0f1014 !important;
    display: flex;
    flex-direction: column;
    padding: 1em;
    letter-spacing: -0.4px;


    --primary: #e1e6f0;
    --secondary: rgb(143, 152, 178);
    --link: rgb(53, 134, 240);
}

h1 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: var(--primary);
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


.poster {
    height: 400px;
    align-self: center;
    border: 5px solid rgb(255 255 255 / 11%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.content-details {
    color: var(--primary);
    text-align: center;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;

    height: 100%;
    justify-content: space-between;
}

.content-container {
    display: flex;
    align-items: center;
    direction: rtl;
    justify-content: space-between;
}

info-bar {
    display: flex;
}

.watch-btn {
    width: 352px;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(8 87 225), rgb(6 43 154));
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;

    display: flex;
    height: 52px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 1em;
}

.like-btn {
    height: 52px;
    width: 52px;
    border-radius: 7px;
    background-color: rgb(34 36 38);
    color: var(--secondary);
    font-size: 14px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.action-buttons {
    display: flex;
    gap: 1em;
}

.action-buttons>* {
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
}