body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#091734, rgb(13 21 36), rgb(15 16 20));
    direction: rtl;
    font-family: "Noto Sans Hebrew", "Inter", sans-serif;

    --primary: #e1e6f0;
    --secondary: rgb(143, 152, 178);
    --link: rgb(53, 134, 240);
}

h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: var(--primary);
    margin: 0;

    display: flex;
    justify-content: center;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.btn {
    border-radius: 5px !important;
}

.btn-group {
    gap: 0.5em;
}