<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>עריכת פרופיל</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">
    <link href="edit-profile.css" rel="stylesheet">
    <script defer src="edit-profile.js"></script>
</head>
<body>
    <div class="edit-container">
        <h1>עריכת פרופיל</h1>

        <img id="profileImg" class="profile-img" src="../assets/mini.png" alt="Profile">

        <input type="text" id="profileName" placeholder="שם פרופיל">

        <div class="avatars">
            <img class="avatar-option" src="../assets/mini.png">
            <img class="avatar-option" src="../assets/et.png">
            <img class="avatar-option" src="../assets/moana.png">
            <img class="avatar-option" src="../assets/spider.png">
            <img class="avatar-option" src="../assets/panter.png">
        </div>

        <div class="buttons">
            <button id="saveBtn">שמור</button>
            <button id="deleteBtn">מחק פרופיל</button>
        </div>
    </div>
</body>
</html>
