:host {
    --primary: #e1e6f0;
    --secondary: rgb(143, 152, 178);
    --link: rgb(53, 134, 240);
    --light: rgba(59, 130, 246, .5)
}

h1 {
    font-size: 20px !important;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: var(--primary);
    margin: 0;

    font-family: "Noto-Sans-Hebrew-Fonts","Inter",sans-serif !important;
    display: flex;
}