<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8" />
    <title>עמוד הפיד</title>
    <link href="client/components/profiles-page/profiles-page.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script defer src="client/components/profiles-page/profiles-page.js"></script>
    <script src="client/components/profiles/profiles-bar-element.js"></script>
</head>

<body class="container">
    <div class="header">
        <h1>מי צופה?</h1>
    </div>
    <media-stream-profiles-bar width="120px"></media-stream-profiles-bar>
</body>

</html>